p {
	margin: 0;
	padding: 0 0 20px 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 20px 0;
	padding: 20px;
	font-style: italic;
	border-left: 5px solid $color__link;
	background: lighten( $color__link, 30% );
	cite {
		display: block;
		font-size: .7em;
		text-align: right;
	}
	p {
		margin: 0;
		padding: 5px;
	}
	.is-loop & {
		margin: 0;
	}
}

address {
	margin: 0 0 20px;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 20px;
	border: 2px solid $color__headings;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
	color: #fff;
}

big {
	font-size: 125%;
}