$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #707070;
$color__background-button: #e6e6e6;
$color__background-pre: #fafafa;
$color__background-ins: #75A3D1;

$color__text-screen: #21759b;
$color__text-input: #707070;
$color__text-input-focus: #111;
//$color__link: #00CBE9;
//$color__link: #0193B7;
$color__link: #75A3D1;
//$color__link: #0092D7;
$color__link-visited: $color__link;
$color__link-hover: #2E4051;
$color__text-main: #707070;
$color__headings: #464C51;

$color__extras: #BAC9D9;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__headings;
$color__border-abbr: $color__headings;
